<div class="px-4 pt-8 pb-8">
  <div class="flex justify-center w-full mb-8">
    <img
      src="https://placehold.co/200"
      alt="placeholder"
      class="w-[96px] h-auto object-cover"
    />
  </div>

  <h1 class="text-center">Intentions</h1>

  <p>
    Intentions can be thought of as commitments to specific tasks. You set a time and date on which you want to work on
    the task and can add optional notes. Intentions are always linked to a task and cannot be defined without selecting
    one from a Goal.
  </p>

  <br/>

  <p>
    The intentions including their dates will be shown in the calendar. If you already use a different calendar, you
    may also export the intentions to a .ics-file and import them to a calendar of your choice.
  </p>
</div>
