<div class="px-4 pt-8 pb-8">
  <div class="flex justify-center w-full mb-8">
    <img
      src="https://placehold.co/400"
      alt="placeholder"
      class="w-[192px] h-auto object-cover"
    />
  </div>

  <h1 class="text-center">Welcome{{ userName ? ' ' + userName : '' }}!</h1>

  <p class="text-center">
    Welcome to MALFI, your tool to help you<br/>achieve your tasks.
  </p>
  <br/>
  <p class="text-center">
    The following pages will guide you through the app and show you
    all the features packed inside of it. Feel free to skip this part if you're
    someone who likes to learn by doing :)
  </p>
</div>
