<div class="px-4 pt-8 pb-8">
  <div class="flex justify-center w-full mb-8">
    <img
      src="https://placehold.co/200"
      alt="placeholder"
      class="w-[96px] h-auto object-cover"
    />
  </div>

  <h1 class="text-center">Calendar</h1>

  <p>
    The calendar shows all intentions in a week-view. Depending on the state of an intention, the calendar event is
    displayed in a different color
  </p>

  <img
    src="/assets/img/onboarding/onboarding-calendar.png"
    alt="Calendar event colors"
    class="h-[256px] w-full object-contain"
  />

  <p>
    Past intentions that have not been completed will be displayed in red, so they stick out more. Intentions that have
    been completed will be shown in grey. Upcoming Intentions are shown in green.
  </p>


</div>
