<app-page-layout>
  <div
    *ngIf="isLoading || goals?.length; else empty"
    class="px-4 py-8"
  >
    <div
      *ngFor="let goal of goals"
      class="mb-8 p-4 border border-light-300 rounded-xl bg-light-400"
    >
      <h4 class="font-bold mb-2">{{goal.goal.title}}</h4>

      <p
        *ngIf="goal.goal.description"
        class="mb-6"
      >{{goal.goal.description}}</p>

      <p class="mb-2">Subtasks</p>

      <app-checkbox-list
        [readonly]="true"
        [values]="goal.tasks"
      ></app-checkbox-list>

      <p class="mt-2 text-center text-dark-900">{{goal.goal.deadline | date}}</p>

      <div class="flex justify-between w-full">
        <button
          (click)="deleteGoalWithTasks(goal.goal)"
          class="flex justify-center items-center h-8 w-8 border border-dark-500 rounded-lg duration-200 hover:bg-error hover:border-error"
        >
          <i-tabler
            name="trash"
            class="!h-6 !stroke-1 w-auto"
          ></i-tabler>
        </button>
      </div>
    </div>

    <div class="w-full h-28"></div>
  </div>

  <ng-container
    ngProjectAs="[screenEnd]"
  >
    <div
      (click)="navigateToCreation()"
      class="fixed bottom-24 left-1/2 -translate-x-1/2 flex justify-center items-center w-12 h-12 rounded-xl bg-primary-500 shadow-xl cursor-pointer"
    >
      <img alt="plus icon" ngSrc="/assets/icons/plus.svg" height="22" width="22"/>
    </div>

    <app-navigation></app-navigation>
  </ng-container>

</app-page-layout>

<ng-template #empty>
  <div class="flex flex-col gap-4 justify-center items-center w-full h-96 px-4 text-dark-700 text-center">
    <p>Pretty empty around here!</p>
    <p>Set your first goal and split it up into smaller tasks.</p>
  </div>
</ng-template>
