<div class="px-4 pt-8 pb-8">
  <div class="flex justify-center w-full mb-8">
    <img
      src="https://placehold.co/200"
      alt="placeholder"
      class="w-[96px] h-auto object-cover"
    />
  </div>

  <h1 class="text-center">Goals and tasks</h1>

  <p>
    MALFI let's you play with three different structures:
  </p>

  <ol class="list-decimal my-2 ml-6">
    <li class="font-bold">Goals</li>
    <li class="font-bold">Tasks</li>
    <li class="italic">Intentions</li>
  </ol>

  <p>
    The explanation for "Intentions" will follow on the next page. For now, let's focus just on Goals and Tasks.
  </p>

  <br/>

  <p>
    Think of a goal as something big that you wish to achieve, whether it be an exam or an event you have to plan out.
    <br/>
    This Goal is what you're ultimately setting your deadline for and represents the finished state of whatever it is
    you're trying to complete.
  </p>

  <br/>

  <p>
    In order to help you reach that Goal, Tasks will need to be specified. Tasks represent smaller steps on your way to
    finishing your project.
  </p>

  <img
    src="/assets/img/onboarding/onboarding-goals.png"
    alt="Relationship of Goals and Tasks"
    class="h-[256px] w-full object-contain"
  />

  <p>
    Every Goal may have multiple Tasks, and you should try your best in breaking up that Goal into as many Tasks as
    feasible. This will aid you overseeing your progress and make working on your project easier.
  </p>
</div>
