.button-primary {
  background-color: #77DD77;
  border-color: #77DD77;
  color: #F6F6F6;
  font-weight: 600;
}

.button-passive {
  border-color: #262626;
}

.button-destructive {
  background-color: #FF6961;
  border-color: #FF6961;
  color: #F6F6F6;
  font-weight: 600;
}

.button-disabled {
  background-color: #E0E0E0;
  border-color: #E0E0E0;
  color: color-mix(in srgb, #262626 50%, transparent);
}
