<div *ngIf="auth.user | async as user; else showLogin">
  <app-button (click)="logout()"
              baseColor="transparent"
              [textColor]="colors.dimWhite"
              fontWeight="normal"
              text="Sign Out"
              [border]="'1px solid ' + colors.dimWhite"></app-button>
</div>
<ng-template #showLogin>
  <div class="flow-row space-10">
    <app-button [icon]="iconGoogle"
                [rounded]="true"
                (click)="loginGoogle()"
                text="Login"></app-button>
    <app-button [icon]="iconGithub"
                [rounded]="true"
                (click)="loginGithub()"
                text="Login"></app-button>
  </div>
</ng-template>
