<div *ngIf="auth.user | async as user; else showLogin" class="flow-row">
  <span class="align-self-center mr-20">Hello {{ user.displayName }}!</span>
  <app-button (click)="logout()"
              baseColor="transparent"
              fontWeight="normal"
              [textColor]="colors.gradientEnd"
              [border]="'1px solid ' + colors.gradientEnd"
              text="Sign Out"></app-button>
</div>
<ng-template #showLogin>
  <div class="flow-row space-children-10">
    <app-button [icon]="iconGoogle"
                [rounded]="true"
                (click)="loginGoogle()"
                text="Login"></app-button>
    <app-button [icon]="iconGithub"
                [rounded]="true"
                (click)="loginGithub()"
                text="Login"></app-button>
  </div>
</ng-template>
