body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
}

.space-10 {
  > *:not( :last-child ) {
    margin-right: 10px;
  }
}
.flow-row {
  display: flex;
  flex-flow: row;
}
.flex-grow {
  flex-grow: 1;
}


