<app-page-layout>
  <div class="px-4 pt-8 pb-8">
    <h3>Define new goal</h3>

    <form
      [formGroup]="formGroup"
      class="flex flex-col gap-4 w-full"
    >
      <label>Title
        <input
          formControlName="title"
          type="text"
          placeholder="Title of the goal"
          class="block"
        >
      </label>

      <label>Description
        <input
          formControlName="description"
          type="text"
          placeholder="More information regarding the goal"
          class="block"
        >
      </label>

      <label>Deadline
        <input
          formControlName="deadline"
          type="date"
          placeholder="20.09.1998"
          class="block"
        >
      </label>

      <label>Subtasks
        <app-checkbox-list
          formControlName="subtasks"
          class="block"
        ></app-checkbox-list>
      </label>
    </form>
  </div>

  <div
    ngProjectAs="[screenEnd]"
    class="px-4 bg-light-900"
  >
    <div
      class="flex flex-col items-center w-full py-8"
    >
      <hr class="w-3/4 mb-8 px-10 border-dark-400"/>
      <app-button
        [type]="formGroup.valid && !isLoading ? 'primary' : 'disabled'"
        (click)="formGroup.valid && !isLoading ? submit() : {}"
        class="w-full mb-4"
      >Submit</app-button>

      <app-button
        (click)="navigateToTasks()"
        type="passive"
        class="w-full"
      >Back</app-button>
    </div>
  </div>
</app-page-layout>
